.main-menu{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.7);
    padding: 15px;
    border-radius: 5px;
    width: 85%;
    height: 95%;
    overflow: auto;

    @media screen and (max-width:1200px) {
        width: 90%;
    }

    @media screen and (max-width:768px) {
        width: 95%;
        &__instructions-container{ flex-direction: column}
    }

    &__back-button {
        cursor: pointer;
        &:hover { color: orange }
    }
    &__header { margin: 5px }
    &__button {
        display: block;
        width: 100%;
        padding: 15px;
        margin: 10px auto;
        border-radius: 5px;
        outline: none;
        background-color: #AFAFAF;
        width: 400px;
        background-color: white;
        cursor: pointer;
        transition: .2s ease-in-out;
        &:hover { background-color: darken(white, 15%)}
    }
    &__text--emphasize { font-style: italic; color: red}
    &__instructions-container { 
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        > * { 
            padding: 15px; 
            border: 1px solid black;
            flex-grow: 1;
            margin: 5px;
            background-color: white;    
        }
        > *:first-of-type { min-width: 150px }
    }
    &__instructions-pic{
        width: 50px;
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  