.highscores {
  width: 250px;
  height: 300px;
  padding: 15px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: left;
  border-radius: 8px;
  overflow: auto;


  &__item {
    width: 100%;
    display: flex;

    &:first-of-type {
      margin-bottom: 10px;
      padding-bottom: 3px;
      font-weight: bold;
      border-bottom: 1px solid black;
    }
    
    > div {
      flex-basis: 50%;
      text-align: center;
      text-transform: uppercase;
    }

    > div:first-of-type {
      flex-basis: 10%;
      font-weight: bold;
    }
    
  }
  
}