.progress-bar {
    position: absolute;
    top:5%;
    right:5%;
    width: 150px;
    background-color: #AFAFAF;
    border-radius: 50px;
    box-shadow: 1px 2px rgba(0,0,0,.3);
    &__value {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: green;
        transition: .7s ease-in-out;
        opacity: .5;

        &--orange { background-color: orange }
        &--red { background-color: red }
    }

    &__text { 
        height: 100%;
        margin: 0 auto; 
        font-size: .7rem; 
        width: 100%; 
        text-align: center;
        background-color: unset;
        font-weight: bold;
    }
}
  