
@keyframes blinking {
    0% {height: auto}
    5% {height: 5px}
    10%,100% {height: auto}
}
@keyframes fading {
    from, to { opacity: 1 }
    50% { opacity: 0 }
}

.game-area {
    border: 1px solid black;
    height: 100%;
    flex: 1 1 70%;
    background-color: #150336;
    transition: .1s ease-out;
    background-position: center;

    &__img-container { 
        position: relative;
        width: 300px; 
        height: auto;
        margin: 0 auto;
    }
    &__blurb { 
        color: #323436;
        animation-name: fading;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    &__container { 
        position: absolute;
        max-width: 700px;
        width: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        padding: 30px;
        border: 1px solid black;
        box-shadow: 2px 2px rgba(0,0,0,0.3);

        @media screen and (min-width: 768px){
            width: 75%;
        }
        @media screen and (min-width: 1000px){
            width: 60%;
        }
        @media screen and (min-width: 1200px){
            width: 50%;
        }
    }
    &__overlay { 
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/images/cracked.png');
        background-size: cover;
        background-position: center;
    }
    &__text {
        margin: 5px 0;
        color: black;
        font-size: 3.5rem;
        text-align: center;
    }

    &__button { 
        display: inline-block;
        margin: 15px 15px; 
        background-color: white;
        border: none;
        outline: none;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 100;
        border: 1px solid black;
        &--green { background-color: green; &:hover{background-color: orange} }
        &--blue { background-color: blue; &:hover{background-color: orange}  }
    }
    &__img2 { 
        transition: .1s linear;
        position: absolute;
        left: 40%;
        bottom: 5%;
        height: 0; 
        width: 100px; 
    }
    &__lightning {
        position: absolute;
        right: -5%;
        top: 0;
        visibility: hidden;
        z-index: -1;
    }
    &__img { 
        width: 100%; 
        height: 100%;
        
        &-text1 {
            text-align: center;
            position: absolute;
            top: 10%;
            left: 42%;
            font-size: 2rem;
        }
        &-text2 {
            text-align: center;
            position: absolute;
            top: 25%;
            left: 44%;
            font-size: 1.5rem;
        }
        &-text3  {
            width: 125px;
            font-style: italic;
            text-align: center;
            position: absolute;
            top: 40%;
            left: 31%;
        }
    }
}
