
.french-fry-dude__container {
    width: 450px; 
    height:250px; 
    position: absolute;
    bottom: 25%;
    left: -70px;
    z-index: 10;
}

.french-fry-dude { 
    height: auto;
    width: 150px; 
    position: absolute;
    bottom: 0;
    left: 33%;
    
    &__character-body { position: absolute }
    &__left-eye{
        animation-name: blinking;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        position: absolute;
        bottom: 27%;
        left: 45%;
        width: 15px;
        height: auto;
    }

    &__right-eye{
        animation-name: blinking;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        position: absolute;
        bottom: 27%;
        left: 55%;
        width: 15px;
        height: auto;
    }

    &__bubble {
        width: 175px;
        height: auto;
        position: absolute;
        top: 0;
        left: 20%;
    }

    &__blurb{
        position: absolute;
        top: 6%;
        left: 20%;
        width: 160px;
        padding: 10px;
        font-size: .9rem;
        font-family: Arial;
    }
}